//custom breadcrum mb
.new-header .link-reg-login .btn-text{
  font-size: 14px;
}
.breadcrumb-section{
  padding-top: 133px;
}
.breadcrumb-group{
  height: 50px;
  display: flex;
  padding: 0;
  align-items: center;
  .wrap-nav{
    height: 100%;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  &::marker{
    display: none;
  }
  a.current-link{
    //font-weight: normal;
  }
  .icon-home{
    width: 20px;
    height: 20px;
    background: url("icon-home.png") 0/100%;
    img{
      width: 100%;
    }
  }
  a,span{
    display: inline-flex;
    align-items: center;
    float: initial;
    line-height: 20px;
    font-size: 14px;
    //color: #222222;
  }
  a{
    display: inline-flex;
    align-items: center;
    color: #808080;
    //font-weight: normal;
    i{
      margin: 0 8px;
      font-size: 6px;
    }
  }
}

@media only screen and (max-width: 1119px) {
  .new-header .main-nav-and-search .ul-nav>li .link-nav{
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .breadcrumb-section{
    padding-top: 105px;
    .container{
      position: relative;
      padding: 0 35px 0 10px;
    }
  }
  .breadcrumb-group{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 44px;
    padding: 8px 0;
   transition: .3s all ease;
    display: flex;
    align-items: center;
    .nav-next{
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: flex-end;
      width: 49px;
      height: 44px;
      background-image: linear-gradient(to right, #efefef00, #efefef);
      position: absolute;
      top: 0;
      right: 6px;
      &.active{
        display: flex;
      }
      &:before{
        display: block;
        content: '';
        background: url("btn-next.png") 50% 50% no-repeat #efefef;
        width: 24px;
        height: 24px;
        border: 1px solid #808080;
        border-radius: 50%;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .up-header-in .nav-mobile .nav-open{
    width: 21px;
    height: 16px;
  }
  .new-header .cart-div{
    align-items: center;
    justify-content: center;
    margin: 0!important;
    padding-bottom: 0!important;
  }
  .main-cart{
    margin-bottom: 0;
  }
  .new-header .main-cart{
    margin-left: 0;
  }
  .up-header-in .up-right-header{
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .user-setting .icon-user{
    width: 5.5rem;
    margin: 0;
  }
  .user-setting{
    padding-right: 0;
  }
  .new-header .link-reg-login .img-account{
    font-size: 14px;
    font-weight: normal;
    label{
      font-weight: normal;
    }
  }
  .new-header .mobile-nav{
    top: 105px;
  }
  .up-header-in .nav-mobile.cancel-nav-mobile .nav-close{
    width: 20px;
    height: 20px;
  }

}
