.new-header .link-reg-login .btn-text {
  font-size: 14px;
}

.breadcrumb-section {
  padding-top: 133px;
}

.breadcrumb-group {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-group .wrap-nav {
  height: 100%;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-group::marker {
  display: none;
}

.breadcrumb-group .icon-home {
  width: 20px;
  height: 20px;
  background: url("icon-home.png") 0/100%;
}

.breadcrumb-group .icon-home img {
  width: 100%;
}

.breadcrumb-group a, .breadcrumb-group span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: initial;
  line-height: 20px;
  font-size: 14px;
}

.breadcrumb-group a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
}

.breadcrumb-group a i {
  margin: 0 8px;
  font-size: 6px;
}

@media only screen and (max-width: 1119px) {
  .new-header .main-nav-and-search .ul-nav > li .link-nav {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .breadcrumb-section {
    padding-top: 105px;
  }
  .breadcrumb-section .container {
    position: relative;
    padding: 0 35px 0 10px;
  }
  .breadcrumb-group {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 44px;
    padding: 8px 0;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .breadcrumb-group .nav-next {
    cursor: pointer;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 49px;
    height: 44px;
    background-image: -webkit-gradient(linear, left top, right top, from(#efefef00), to(#efefef));
    background-image: linear-gradient(to right, #efefef00, #efefef);
    position: absolute;
    top: 0;
    right: 6px;
  }
  .breadcrumb-group .nav-next.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .breadcrumb-group .nav-next:before {
    display: block;
    content: '';
    background: url("btn-next.png") 50% 50% no-repeat #efefef;
    width: 24px;
    height: 24px;
    border: 1px solid #808080;
    border-radius: 50%;
  }
  .breadcrumb-group::-webkit-scrollbar {
    display: none;
  }
  .up-header-in .nav-mobile .nav-open {
    width: 21px;
    height: 16px;
  }
  .new-header .cart-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
  .main-cart {
    margin-bottom: 0;
  }
  .new-header .main-cart {
    margin-left: 0;
  }
  .up-header-in .up-right-header {
    padding: 0;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-setting .icon-user {
    width: 5.5rem;
    margin: 0;
  }
  .user-setting {
    padding-right: 0;
  }
  .new-header .link-reg-login .img-account {
    font-size: 14px;
    font-weight: normal;
  }
  .new-header .link-reg-login .img-account label {
    font-weight: normal;
  }
  .new-header .mobile-nav {
    top: 105px;
  }
  .up-header-in .nav-mobile.cancel-nav-mobile .nav-close {
    width: 20px;
    height: 20px;
  }
}
/*# sourceMappingURL=cm-header.css.map */