.heading-section{
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
    .heading-left{
        padding: 0;
        text-align: left;
    }
    h2, h3{
      line-height: 44px;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    &:before{
      content: '';
      display: block;
      width: 100px;
      height: 3px;
      background-color: #312b98;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &.no-border{
      border-bottom: none;
      &:before{
        display: none;
      }
    }
}
.post-related{
    .lst-post-related{
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item-post{
            width: 48%;
            display: flex;
            margin-bottom: 15px;
            .img-thumb-post{
                width: 180px;
                height: 125px;
                overflow: hidden;
                margin-right: 15px;
                border-radius: 5px;
            }
            .post-content{
                flex: 1;
            }
            .post-title{
                font-size: 1.6rem;
                font-weight: 700;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #000;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                margin-bottom: 8px;
                &:hover{
                    // text-decoration: underline;
                    color: #2e4057;
                }
            }
            .post_intro{
                margin-bottom: 0;
                font-size: 1.6rem;
                font-weight: 450;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: normal;
                color: #2e4057;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
            .post-readmore{
                display: none;
                margin-top: auto;
                font-size: 16px;
                font-weight: 700;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: rgba(46,48,146,.9);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    @media only screen and (max-width:1023px) {
        .lst-post-related{
            .item-post{
                width: 100%;
            }
        }
    }
    @media only screen and (max-width:767px) {
        .lst-post-related{
            .item-post{
                width: 100%;
                .img-thumb-post{
                    width: 130px;
                    height: 93px;
                }
                .post-title{
                    // font-size: 1.6rem;
                    -webkit-line-clamp: 4;
                }
                .post_intro{
                   display: none;
                }
                .post-readmore{
                    display: none;
                }
            }
        }
    }
}