.heading-section {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.heading-section .heading-left {
  padding: 0;
  text-align: left;
}

.heading-section h2, .heading-section h3 {
  line-height: 44px;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.heading-section:before {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #312b98;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading-section.no-border {
  border-bottom: none;
}

.heading-section.no-border:before {
  display: none;
}

.post-related .lst-post-related {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-related .lst-post-related .item-post {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.post-related .lst-post-related .item-post .img-thumb-post {
  width: 180px;
  height: 125px;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 5px;
}

.post-related .lst-post-related .item-post .post-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post-related .lst-post-related .item-post .post-title {
  font-size: 1.6rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px;
}

.post-related .lst-post-related .item-post .post-title:hover {
  color: #2e4057;
}

.post-related .lst-post-related .item-post .post_intro {
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 450;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #2e4057;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-related .lst-post-related .item-post .post-readmore {
  display: none;
  margin-top: auto;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(46, 48, 146, 0.9);
}

.post-related .lst-post-related .item-post .post-readmore:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1023px) {
  .post-related .lst-post-related .item-post {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .post-related .lst-post-related .item-post {
    width: 100%;
  }
  .post-related .lst-post-related .item-post .img-thumb-post {
    width: 130px;
    height: 93px;
  }
  .post-related .lst-post-related .item-post .post-title {
    -webkit-line-clamp: 4;
  }
  .post-related .lst-post-related .item-post .post_intro {
    display: none;
  }
  .post-related .lst-post-related .item-post .post-readmore {
    display: none;
  }
}
/*# sourceMappingURL=post-related.css.map */