.body-detail-article{
    .accordion{
        margin: 16px 0;
        font-size: 16px;
        line-height: 1.6;
        .card-body{
            line-height: 1.6;
        }
        .btn{
            width: 100%;
            height: auto;
            min-height: 4rem;
            background-color: transparent;
            color: #2e3092;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            white-space: normal;
            line-height: 1.2;
            padding: 8px 12px;
            &:hover{
               transform: none;
            }
            &::after{
                display: block;
                content: '';
                background: url("arrow-02-web.png") 0/100% no-repeat;
                width: 17px;
                height: 10px;
                transition: all .3s ease;
            }
            span{
                flex:1;
                text-align: left;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        .card-header{
            margin-bottom: 0;
            border-bottom:1px solid #d8d8d8;
            &.active{
                .btn{
                    &::after{
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .card{
            margin-bottom: 0;
            border: 1px solid #d8d8d8;
            margin-top: -2px;
            &:nth-child(1){
                margin-top: 0;
            }
            &:last-child{
                .card-header{
                    margin-bottom: -1px;
                }
            }
        }
    }
    @media only screen and (max-width:767px){
        .accordion{
            .btn{
                padding: 6px 10px;
            }
        }
    }
}
