br {
  content: '';
  display: block;
}

/**  Mobile **/
@media (max-width: 767px) {
  .heath-section {
    padding-top: 100px !important;
  }
}

.body-detail-article p:first-child {
  text-align: center !important;
}

.body-two-col > .container {
  max-width: 1200px;
}

.body-right-col, .back-to-top {
  z-index: 1;
}

.share-detail {
  padding-left: 2rem;
  padding-right: 0;
}

.rs-pd {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.rs-pd div {
  margin-bottom: 0;
  line-height: normal;
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

.title-section-blue-pink {
  position: relative;
  padding-bottom: 10px;
  text-align: center !important;
  color: #2e3092 !important;
}

.title-section-blue-pink::before {
  content: '';
  display: block;
  width: 338px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -169px;
}

.title-section-blue-pink::after {
  content: '';
  display: block;
  width: 109px;
  height: 8px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -55px;
}

.title-section-blue-pink::before {
  background-color: #2e3092;
}

.title-section-blue-pink::after {
  background-color: #cd484d;
}

.body-detail-article .title-section-blue-pink {
  color: #2e3092 !important;
  text-align: center !important;
}

.box-slogan-bottom {
  background-color: #FFC600;
  color: #ffffff;
  line-height: 1 !important;
  padding: 20px 0;
  font-weight: bold;
  display: none;
  margin-bottom: 0 !important;
}

.box-slogan-bottom span {
  display: inline-block;
  margin: 0 4px;
}

.box-slogan-bottom .left {
  width: 40%;
  text-align: right;
}

.box-slogan-bottom .right {
  width: 60%;
  color: #12166B;
}

.box-slogan-bottom .top {
  font-size: 39px;
}

.box-slogan-bottom .top .right {
  font-size: 52px;
}

.box-slogan-bottom .bottom {
  font-size: 32px;
}

.box-slogan-bottom .bottom .right {
  font-size: 45px;
}

@media only screen and (max-width: 1023px) {
  .box-slogan-bottom .left {
    width: 35%;
  }
  .box-slogan-bottom .right {
    width: 65%;
  }
  .box-slogan-bottom .top {
    font-size: 28px;
  }
  .box-slogan-bottom .top .right {
    font-size: 40px;
    font-weight: 900;
  }
  .box-slogan-bottom .bottom {
    font-size: 20px;
  }
  .box-slogan-bottom .bottom .right {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .box-slogan-bottom {
    display: block;
  }
  .box-slogan-bottom .top {
    font-size: 22px;
  }
  .box-slogan-bottom .top .right {
    font-size: 36px;
  }
  .box-slogan-bottom .bottom {
    font-size: 16px;
  }
  .box-slogan-bottom .bottom .right {
    font-size: 26px;
  }
}

@media only screen and (max-width: 567px) {
  .box-slogan-bottom {
    padding: 15px 0;
  }
  .box-slogan-bottom .top {
    font-size: 18px;
  }
  .box-slogan-bottom .top .right {
    font-size: 24px;
  }
  .box-slogan-bottom .bottom {
    font-size: 16px;
  }
  .box-slogan-bottom .bottom .right {
    font-size: 16px;
  }
}

.box-support {
  height: 387px;
  padding: 25px 0;
  display: none;
}

.box-support .top-title {
  width: 75%;
  text-align: center;
  color: #232670;
  font-weight: bold;
  font-size: 30px;
}

.box-support .box-main-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin-top: 35px;
}

.box-support .box-main-support .img-product-ldp {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.box-support .box-main-support .img-product-ldp img {
  width: 100%;
  height: auto !important;
  max-height: auto !important;
}

.box-support .box-main-support .item-support {
  width: 49%;
  background-color: #2e3092;
  border-radius: 14px;
  padding: 30px 20px;
  color: #fff !important;
  text-align: center !important;
  font-size: 20px;
}

.box-support .box-main-support .item-support .title-sub {
  font-size: 24px;
  font-weight: bold;
  color: #fff !important;
  text-align: center !important;
  margin-bottom: 0 !important;
}

.box-support .box-main-support .item-support p {
  color: #fff !important;
  text-align: center !important;
  margin-bottom: 0 !important;
}

.box-support .box-main-support .item-support .form-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.box-support .box-main-support .item-support .form-support button {
  width: 170px;
  height: 43px;
  background-color: #CD484D;
  border: 2px solid #FFBBBB;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.box-support .box-main-support .item-support .form-support .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 43px;
}

.box-support .box-main-support .item-support .form-support .form-group input {
  width: 100%;
  height: 100%;
  color: #2E3180;
  padding: 0 10px;
}

.box-support .box-main-support .item-support .form-support .form-group input::-webkit-input-placeholder {
  color: #2E3180;
}

.box-support .box-main-support .item-support .form-support .form-group input:-ms-input-placeholder {
  color: #2E3180;
}

.box-support .box-main-support .item-support .form-support .form-group input::-ms-input-placeholder {
  color: #2E3180;
}

.box-support .box-main-support .item-support .form-support .form-group input::placeholder {
  color: #2E3180;
}

.box-support .box-main-support .item-support .hotline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  max-width: 100%;
  height: 43px;
  color: #fff;
  background-color: #F2363D;
  border-radius: 20px;
  font-size: 30px;
  margin: 20px auto 0;
  font-weight: bold;
}

.box-support .box-main-support .item-support .hotline::before {
  display: block;
  content: '';
  background: url("https://dadaynhatnhat.online/assets/images/Icon-04.png") 0/100% no-repeat;
  width: 36px;
  height: 36px;
  margin: 5px;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
          animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

.box-support .box-main-support .item-support .hotline span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .box-support .top-title {
    width: 100%;
    font-size: 24px;
  }
  .box-support .box-main-support {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .box-support {
    display: block;
    background-size: auto 100%;
    height: auto;
    padding: 0;
  }
  .box-support .top-title {
    font-size: 20px;
  }
  .box-support .box-main-support {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
  .box-support .box-main-support .item-support {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .box-support .box-main-support .item-support:last-child {
    margin-bottom: 0;
    padding: 30px 80px 30px 20px;
    position: relative;
  }
  .box-support .box-main-support .item-support:last-child::after {
    content: '';
    display: block;
    background: url("https://dadaynhatnhat.online/assets/images/img-bsi.png") 0/100% no-repeat;
    width: 132px;
    height: 134px;
    position: absolute;
    right: -30px;
    bottom: -15px;
  }
  .box-support .box-main-support .item-support:last-child .hotline {
    width: 177px;
    height: 29px;
    font-size: 20px;
  }
  .box-support .box-main-support .item-support:last-child .hotline::before {
    width: 22px;
    height: 20px;
  }
  .box-support .box-main-support .item-support .title-sub {
    font-size: 16px;
  }
  .box-support .box-main-support .item-support .form-support .form-group {
    height: 28px;
  }
  .box-support .box-main-support .item-support .form-support button {
    width: 100px;
    height: 28px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 374px) {
  .box-support .top-title {
    font-size: 18px;
  }
  .box-support .box-main-support .item-support {
    padding: 20px 10px;
  }
  .box-support .box-main-support .item-support:last-child {
    padding: 20px 60px 20px 10px;
  }
  .box-support .box-main-support .item-support:last-child::after {
    width: 100px;
    height: 100px;
    bottom: 0;
    right: -30px;
  }
}
/*# sourceMappingURL=style-longform.css.map */