@charset "UTF-8";
/**  Tablet xoay dọc **/
@media (min-width: 767px) and (max-width: 991.98px) {
  .heath-section {
    padding-top: 100px !important;
  }
}

/**  Tablet xoay ngang **/
@media (min-width: 991.98px) and (max-width: 1024px) {
  .heath-section {
    padding-top: 140px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .heath-section {
    padding-top: 140px !important;
  }
}

.detail-article .other-link-detail {
  margin-bottom: 16px;
}

.detail-article .other-link-detail > li {
  padding-left: 20px;
  margin-bottom: 4px;
}

.detail-article .other-link-detail > li:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #2e3092;
  border-radius: 50%;
  display: inline-block;
  top: 9px;
  left: 0;
}

.detail-article .other-link-detail > li a {
  color: #2e3092;
}

.detail-article .post-by {
  font-size: 14px;
  color: #666;
}

.detail-article .post-by .author-article {
  color: #666;
}

.detail-article .lead-article {
  color: #222222;
  font-size: 16px;
}

.body-detail-article {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #222;
}

.body-detail-article a {
  color: #1667d2;
}

.body-detail-article > div {
  line-height: 1.6;
}

.body-detail-article .h1, .body-detail-article .h2, .body-detail-article .h3, .body-detail-article .h4, .body-detail-article .h5, .body-detail-article .h6, .body-detail-article h1, .body-detail-article h2, .body-detail-article h3, .body-detail-article h4, .body-detail-article h5, .body-detail-article h6 {
  text-align: left !important;
  color: #222222 !important;
  font-weight: bold !important;
}

.body-detail-article figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #222222bf;
}

.body-detail-article img {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto !important;
}

.body-detail-article p {
  line-height: 1.4;
  color: #222;
  margin-bottom: 16px;
}

.body-detail-article ul {
  list-style-type: disc;
}

.body-detail-article ul, .body-detail-article ol {
  padding-left: 40px;
  line-height: 160%;
}

.body-detail-article ul li, .body-detail-article ol li {
  text-align: left !important;
  margin-bottom: 16px;
}

.body-detail-article h1 {
  font-size: 24px !important;
}

.body-detail-article h1 * {
  font-size: 24px !important;
}

.body-detail-article h2 {
  margin-bottom: 12px;
  font-size: 20px !important;
}

.body-detail-article h2 * {
  font-size: 20px !important;
}

.body-detail-article h3 {
  font-size: 16px !important;
  margin-bottom: 8px;
}

.body-detail-article h3 * {
  font-size: 16px !important;
}

.body-detail-article h4 {
  font-size: 16px !important;
  margin-bottom: 8px;
}

.body-detail-article h4 * {
  font-size: 16px !important;
}

.body-detail-article .ul-tag li:before {
  display: none;
}

.body-detail .title {
  color: #222222;
  font-size: 24px !important;
}

.body-detail p {
  margin: 0 0 1em;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  text-align: left !important;
  font-size: 16px !important;
}

@media screen and (max-width: 512px) {
  .body-detail-article img {
    width: 100% !important;
    height: auto !important;
  }
  .body-detail-article ul, .body-detail-article ol {
    padding-left: 24px;
  }
}

.bg-section {
  background: #ebebeb;
  margin-left: -20px !important;
  margin-right: -20px !important;
  padding: 8px 20px;
}

.body-right-col, .body-detail {
  overflow: visible !important;
}
/*# sourceMappingURL=style-article-511.css.map */