/**  Tablet xoay dọc **/
@media (min-width: 767px) and (max-width: 991.98px) {
  .heath-section {
      padding-top: 100px !important;
  }
}
/**  Tablet xoay ngang **/
@media (min-width: 991.98px) and (max-width: 1024px) {
  .heath-section {
      padding-top: 140px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .heath-section {
      padding-top: 140px !important;
  }
}

.detail-article{
.other-link-detail{
  margin-bottom: 16px;
}
.other-link-detail>li{
  padding-left: 20px;
  margin-bottom: 4px;
  &:before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #2e3092;
    border-radius: 50%;
    display: inline-block;
    top: 9px;
    left: 0;
  }
  a{
    color: #2e3092;
  }
}
.post-by{
  font-size: 14px;
  color: #666;
  .author-article{
    color: #666;
  }
}
.lead-article{
  color: #222222;
  font-size: 16px;
}
}
.body-detail-article{
font-size: 16px;
line-height: 1.4;
text-align: left;
a{
  color: #1667d2;
}
color: #222;
>div{
  line-height: 1.6;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  text-align: left!important;
  color: #222222!important;
  font-weight: bold!important;
}
figure{
  figcaption{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #222222bf;
  } 
}
img{
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto!important;
}
p{
  line-height: 1.4;
  color: #222;
  margin-bottom: 16px;
}
ul{
  list-style-type: disc;
}
ul, ol{
  padding-left: 40px;
  line-height: 160%;
  li{
    text-align: left!important;
    margin-bottom: 16px;
  }
}
h1{
  font-size:24px!important;
  *{
    font-size:24px!important;
  }
}
h2{
  margin-bottom: 12px;
  font-size: 20px!important;
  *{
    font-size: 20px!important;
  }
}
h3{
  font-size: 16px!important;
  margin-bottom: 8px;
  *{
    font-size: 16px!important;
  }
}
h4{
  font-size: 16px!important;
  margin-bottom: 8px;
  *{
    font-size: 16px!important;
  }
}
.ul-tag{
  li{
    &:before{
      display: none;
    }
  }
}
}
.body-detail{
.title{
  color: #222222;
  font-size: 24px!important;
}
p{
 margin: 0 0 1em;
 line-height: 1.4;
 text-rendering: optimizeSpeed;
 text-align: left!important;
 font-size: 16px!important;
}
}

@media screen and (max-width: 512px) {
  .body-detail-article{
    img{
      width: 100%!important;
      height: auto!important;
    }
    ul, ol{
      padding-left: 24px;
    }

  }
}
.bg-section{
background: #ebebeb;
margin-left: -20px!important;
margin-right: -20px!important;
padding: 8px 20px;
}
.body-right-col, .body-detail{
overflow: visible!important;
}
