.body-detail-article .accordion {
  margin: 16px 0;
  font-size: 16px;
  line-height: 1.6;
}

.body-detail-article .accordion .card-body {
  line-height: 1.6;
}

.body-detail-article .accordion .btn {
  width: 100%;
  height: auto;
  min-height: 4rem;
  background-color: transparent;
  color: #2e3092;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  white-space: normal;
  line-height: 1.2;
  padding: 8px 12px;
}

.body-detail-article .accordion .btn:hover {
  -webkit-transform: none;
          transform: none;
}

.body-detail-article .accordion .btn::after {
  display: block;
  content: '';
  background: url("arrow-02-web.png") 0/100% no-repeat;
  width: 17px;
  height: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.body-detail-article .accordion .btn span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.body-detail-article .accordion .card-header {
  margin-bottom: 0;
  border-bottom: 1px solid #d8d8d8;
}

.body-detail-article .accordion .card-header.active .btn::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.body-detail-article .accordion .card {
  margin-bottom: 0;
  border: 1px solid #d8d8d8;
  margin-top: -2px;
}

.body-detail-article .accordion .card:nth-child(1) {
  margin-top: 0;
}

.body-detail-article .accordion .card:last-child .card-header {
  margin-bottom: -1px;
}

@media only screen and (max-width: 767px) {
  .body-detail-article .accordion .btn {
    padding: 6px 10px;
  }
}
/*# sourceMappingURL=style-button-accordion.css.map */