// style inline exx
br {
  content: '';
  display: block;
}
/**  Mobile **/
@media (max-width: 767px) {
  .heath-section {
      padding-top: 100px !important;
  }
}
  .body-detail-article p:first-child {
  text-align: center !important;
}
      .body-two-col > .container {
  max-width: 1200px;
}
  .body-right-col, .back-to-top {
  z-index: 1;
}
.share-detail {
  padding-left: 2rem;
  padding-right: 0;
}

// style inline exx

// reset padding content
.rs-pd{
  margin-left: -20px!important;
  margin-right: -20px!important;
  div{
      margin-bottom: 0;
      line-height: normal;
  }
}

@keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
    -o-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -moz-transform: rotate(0) scale(1) skew(1deg);
    -o-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}
// reset padding content 
@mixin title-section {
  position: relative;
  padding-bottom: 10px;
  text-align: center!important;
 
  &::before{
    content: '';
    display: block;
    width: 338px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -169px;
  }
  &::after{
    content: '';
    display: block;
    width: 109px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -55px;
  }
}
.title-section-blue-pink{
  @include title-section;
  color: #2e3092!important;
  &::before{
    background-color: #2e3092;
  }
  &::after{
    background-color: #cd484d;
  }
}
.body-detail-article{
  .title-section-blue-pink{
    color: #2e3092!important;
    text-align: center!important;
  }
}


.box-slogan-bottom{
  background-color: #FFC600;
  color: #ffffff;
  line-height: 1!important;
  padding: 20px 0;
  font-weight: bold;
  display: none;
  margin-bottom: 0!important;
  span{
    display: inline-block;
   margin: 0 4px;
  }
  .left{
    width: 40%;
    text-align: right;
  }
  .right{
    width: 60%;
    color: #12166B;
  //   font-family: 'Roboto',sans-serif;
  }
  .top{
    font-size: 39px;
    .right{
      font-size: 52px;
    }
  }
  .bottom{
    font-size: 32px;
    .right{
      font-size: 45px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .left{
      width: 35%;
    }
    .right{
      width: 65%;
    }
    .top{
      font-size: 28px;
      .right{
        font-size: 40px;
        font-weight: 900;
      }
    }
    .bottom{
      font-size: 20px;
      .right{
        font-size: 32px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
      display: block; 
    .top{
      font-size: 22px;
      .right{
        font-size: 36px;
      }
    }
    .bottom{
      font-size: 16px;
      .right{
        font-size: 26px;
      }
    }
  }
  @media only screen and (max-width: 567px) {
    padding: 15px 0;
    .top{
      font-size: 18px;
      .right{
        font-size: 24px;
        
      }
    }
    .bottom{
      font-size: 16px;
      .right{
        font-size: 16px;
      }
    }
  }
}

.box-support{
  height: 387px; 
  padding: 25px 0;
  display: none;
  .top-title{
    width: 75%;
    text-align: center;
    color: #232670;
    font-weight: bold;
    font-size: 30px;
  }
  .box-main-support{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 35px;
    .img-product-ldp{
        display: block;
        margin: 0 auto;
        width: 100%;
      //   max-width: 375px;
      //   height: 270px;
        img{
            width: 100%;
            height: auto!important;
            max-height: auto!important;
        }
    }
    .item-support{
      width: 49%;
      background-color: #2e3092;
      border-radius: 14px;
      padding: 30px 20px;
      color: #fff!important;
      text-align: center!important;
      font-size: 20px;
      .title-sub{
        font-size: 24px;
        font-weight: bold;
        color: #fff!important;
        text-align: center!important;
        margin-bottom: 0!important;
      }
      p{
      //   font-family: 'Roboto Condensed',sans-serif;
        color: #fff!important;
        text-align: center!important;
        margin-bottom: 0!important;
      }
      .form-support{
        display: flex;
        align-items: center;
        margin-top: 20px;
        button{
          width: 170px;
          height: 43px;
          background-color: #CD484D;
          border: 2px solid #FFBBBB;
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          margin-left: 15px;
        }
        .form-group{
          flex:1;
          height: 43px;
          input{
            width: 100%;
            height: 100%;
            color: #2E3180;
            padding: 0 10px;
            &::placeholder{
              color: #2E3180;
            }
          }
        }
      }
      .hotline{
        display: flex;
        align-items: center;
        width: 290px;
        max-width: 100%;
        height: 43px;
        color: #fff;
        background-color: #F2363D;
        border-radius: 20px;
        font-size: 30px;
        margin: 20px auto 0;
        font-weight: bold;
        &::before{
          display: block;
          content: '';
          background: url("https://dadaynhatnhat.online/assets/images/Icon-04.png") 0/100% no-repeat;
          width: 36px;
          height: 36px;
          margin: 5px;
          animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        } 
        span{
          flex: 1;
          text-align: center;
        }
      }
    }
  }
  @media only screen and (max-width:1023px){
    .top-title{
      width: 100%;
      font-size: 24px;
    }
    .box-main-support{
      width: 100%;
    }
  }
  @media only screen and (max-width:767px){
      display: block;
    background-size: auto 100%;
    height: auto;
    padding: 0;
    .top-title{
      font-size: 20px;
    }
    .box-main-support{
      flex-wrap: wrap;
      margin-top: 0;
      .item-support{
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        &:last-child{
          margin-bottom: 0;
          padding: 30px 80px 30px 20px;
          position: relative;
          &::after{
            content: '';
            display: block;
            background: url("https://dadaynhatnhat.online/assets/images/img-bsi.png") 0/100% no-repeat;
            width: 132px;
            height: 134px;
            position: absolute;
            right: -30px;
            bottom: -15px;
          }
          .hotline{
            width: 177px;
            height: 29px;
            font-size: 20px;
            &::before{
              width: 22px;
              height: 20px;
            }
          }
        }
        .title-sub{
          font-size: 16px;
        }
        .form-support{
          .form-group{
            height: 28px;
          }
          button{
            width: 100px;
            height: 28px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 374px) {
    .top-title{
      font-size: 18px;
    }
    .box-main-support{
      .item-support{
        padding: 20px 10px;
        &:last-child{
          padding: 20px 60px 20px 10px;
          &::after{
            width: 100px;
            height: 100px;
            bottom: 0;
            right: -30px;
          }
        }
      }
    }
  }
}