.hero-dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-dashboard .banner_bottom {
  margin-top: 14px !important;
}

.hero-dashboard .banner_bottom img {
  border-radius: 8px;
}

.hero-dashboard .col-lg-8, .hero-dashboard .col-lg-4 {
  padding: 0 7px;
}

.hero-dashboard .slider-hero {
  border-radius: 8px;
  overflow: hidden;
}

.heading-left {
  padding: 0;
}

.new-header {
  left: 0;
}

section {
  margin-bottom: 0;
}

.be-good {
  padding: 160px 0;
}

.drug-by-cate {
  padding: 70px 0 0;
}

.slider-drug-cate {
  padding-bottom: 80px;
}

.why-section {
  padding: 80px 0;
}

.handle-pathology {
  padding: 70px 0 80px;
}

.handle-pathology .item-slider {
  margin-bottom: 0;
}

.hot-products {
  padding-top: 70px;
}

.hot-products .heading-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
  padding-bottom: 5px;
}

.heading-section {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.heading-section h2, .heading-section h3 {
  line-height: 44px;
}

.heading-section:before {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #312b98;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading-section.no-border {
  border-bottom: none;
}

.heading-section.no-border:before {
  display: none;
}

.heading-description {
  margin-top: -30px;
  margin-bottom: 40px;
}

.big-drug-cate {
  margin-right: 10px;
}

.small-drug-cate {
  margin-left: 10px;
}

.half-drug-cate.revert .small-drug-cate {
  margin-right: 10px;
}

.half-drug-cate.revert .big-drug-cate {
  margin-left: 10px;
}

.question-topic {
  margin-left: 20px;
}

.wrap-private-question {
  padding-left: 20px;
}

.item-right-hero {
  margin-bottom: 14px;
  border-radius: 8px;
}

.img-product {
  border-radius: 8px;
  display: block;
  overflow: hidden;
}

.interactive-with {
  padding: 3.3rem 4.5rem 3.5rem;
  background-size: 100%;
}

.slick-dots {
  width: 100%;
  left: 0;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.item-slider {
  padding: 0 10px;
}

.link-view-more {
  margin-bottom: 0;
  color: #312b98;
}

.link-view-more:hover {
  color: #1667d2;
}

.heading-section h2, .heading-section h3 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.share-social {
  width: 40px;
  height: 40px;
  bottom: auto;
  top: 20px;
  right: 20px;
  left: auto;
  font-size: 0;
  border-top: 0;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.share-social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid #312b98;
}

.item-slider .item-inner {
  padding-bottom: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .ul-hot-products {
    padding-bottom: 40px;
  }
  .ul-hot-products .item-product {
    width: 20%;
    padding: 0 7px;
    margin-bottom: 40px;
  }
  .ul-hot-products .item-product .inner-hot-product {
    padding-bottom: 0;
  }
  .ul-hot-products .item-product .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 38px;
  }
}

@media only screen and (max-width: 991px) {
  .hero-dashboard {
    padding-top: 11rem;
  }
  .question-topic {
    margin-left: 0;
  }
  .ul-hot-products {
    padding-bottom: 40px;
  }
}

.slider-hero .slick-arrow {
  text-indent: -999em;
  width: 32px;
  height: 56px;
  margin-top: -28px;
  -webkit-transform: none;
          transform: none;
  border-radius: 0;
  padding: 0;
  opacity: 0.3;
}

.slider-hero .slick-prev {
  left: 0;
  background: url("images/btn-next.png") 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-hero .slick-next {
  right: 0;
  background: url("images/btn-next.png") 0/100% no-repeat;
}

.slider-hero:hover .slick-arrow {
  opacity: 1;
}

.hero-item {
  min-height: auto !important;
  display: block !important;
}

.hero-item:before {
  display: none;
}

.hero-item img {
  width: 100%;
  height: auto;
}

.slick-track:before, .slick-track:after {
  display: none;
}

@media only screen and (max-width: 768px) {
  .slider-hero .slick-arrow {
    width: 26px;
  }
  .hero-item {
    height: auto !important;
  }
  .hero-dashboard {
    padding-top: 105px;
  }
  .hero-dashboard .banner_bottom {
    margin-bottom: 0;
  }
  .slider-hero {
    height: auto !important;
    min-height: auto !important;
    margin-bottom: 2px !important;
  }
  .hot-products {
    padding-top: 30px;
  }
  .hot-products .link-view-more {
    display: none !important;
  }
  .hot-products .heading-right .link-view-more {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    text-indent: -999em;
  }
  .hot-products .heading-right .link-view-more img {
    display: block;
  }
  .ul-hot-products {
    padding-bottom: 0;
  }
  .ul-hot-products .item-product .title {
    height: auto;
  }
  .wrap-private-question {
    padding-left: 0;
    min-height: auto;
  }
  .drug-by-cate {
    padding: 30px 0 0;
  }
  .slider-drug-cate {
    padding-bottom: 40px;
  }
  .handle-pathology {
    padding: 30px 0 40px;
  }
  .be-good {
    padding: 40px 0;
  }
  .why-section {
    padding: 40px 0;
  }
  .heading-description {
    margin-bottom: 4px;
  }
  .drug-by-cate .link-view-more {
    margin-bottom: 40px !important;
  }
  .slider-product .heading-section {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=update-home.css.map */