//update css fix zoom in out homepage
.hero-dashboard{
  max-width: 1200px;
  margin: 0 auto;
  .banner_bottom{
    margin-top: 14px!important;
    img{
      border-radius: 8px;
    }
  }
  .col-lg-8, .col-lg-4{
    padding: 0 7px;
  }
  .slider-hero{
    border-radius: 8px;
    overflow: hidden;
  }

}
.heading-left{
  padding: 0;
}
.new-header{
  left: 0;
}
section {
  margin-bottom: 0;
  //padding-bottom: 20px;
}
.be-good{
  //margin-top: 20px;
  padding: 160px 0;
}
.drug-by-cate{
  padding: 70px 0 0;
}
.slider-drug-cate{
  padding-bottom: 80px;
}
.why-section{
  padding: 80px 0;
}
.handle-pathology{
  padding: 70px 0 80px;
  .item-slider{
    margin-bottom: 0;
  }
}
.hot-products {
  padding-top: 70px;
  .heading-section{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(151,151,151,.3);
    padding-bottom: 5px;

  }
}
.heading-section{
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
  h2, h3{
    line-height: 44px;
  }
  &:before{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #312b98;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &.no-border{
    border-bottom: none;
    &:before{
      display: none;
    }
  }
}
.heading-description{
  margin-top: -30px;
  margin-bottom: 40px;
}
.big-drug-cate{
  margin-right: 10px;
}
.small-drug-cate{
  margin-left: 10px;
}
.half-drug-cate.revert .small-drug-cate{
  margin-right: 10px;
}
.half-drug-cate.revert .big-drug-cate{
  margin-left: 10px;
}
.question-topic{
  margin-left: 20px;
}
.wrap-private-question{
  padding-left: 20px;
}
.item-right-hero{
  margin-bottom: 14px;
  border-radius: 8px;
}
.img-product{
  border-radius: 8px;
  display: block;
  overflow: hidden;
}
.interactive-with{
  padding: 3.3rem 4.5rem 3.5rem;
  background-size: 100%;
}
//dot slide
.slick-dots{
  width: 100%;
  left: 0;
  bottom: 15px;
  display: flex;
  justify-content: center;
  padding: 0;
}
.item-slider{
  padding: 0 10px;
}
.link-view-more{
  margin-bottom: 0;
  color: #312b98;
  &:hover{
    color: #1667d2;
  }
}
.heading-section {
  h2, h3{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
  }
}
.share-social{
  width: 40px;
  height: 40px;
  bottom: auto;
  top: 20px;
  right: 20px;
  left: auto;
  font-size: 0;
  border-top: 0;
  border-radius: 50%;
  overflow: hidden;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.1);
    border: 1px solid #312b98;

  }
}
.item-slider {
  .item-inner{
    padding-bottom: 0;
  }
}
@media (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
  .ul-hot-products {
    padding-bottom: 40px;
    .item-product{
      width: 20%;
      padding: 0 7px;
      margin-bottom: 40px;
      .inner-hot-product{
        padding-bottom: 0;
      }
      .title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        height: 38px;
      }
    }
  }
}
//fix header
@media only screen and (max-width: 991px){
  .hero-dashboard{
    padding-top: 11rem;
  }
  .question-topic{
    margin-left: 0;
  }
  .ul-hot-products {
    padding-bottom: 40px;
  }

}
//update css fix zoom in out homepage

//update banner
.slider-hero{
  .slick-arrow{
    text-indent: -999em;
    width: 32px;
    height: 56px;
    margin-top: -28px;
    transform: none;
    border-radius: 0;
    padding: 0;
    opacity: 0.3;
  }
  .slick-prev{
    left: 0;
    background: url("images/btn-next.png") 0/100% no-repeat;
    transform: rotate(180deg);
  }
  .slick-next{
    right: 0;
    background: url("images/btn-next.png") 0/100% no-repeat;
  }
  &:hover{
    .slick-arrow{
      opacity: 1;
    }
  }
}
.hero-item{
  min-height: auto!important;
  //height: 46rem!important;
  display: block!important;
  &:before{
    display: none;
  }
  img{
    width: 100%;
    height: auto;
  }
}
.slick-track{
  &:before, &:after{
    display: none;
  }

}
@media only screen and (max-width: 768px){
  .slider-hero{
    .slick-arrow{
      width: 26px;
    }
  }
  .hero-item{
    height: auto!important;
  }
  .hero-dashboard{
    padding-top: 105px;
    .banner_bottom{
      margin-bottom: 0;
    }
  }
  .slider-hero{
    height: auto!important;
    min-height: auto!important;
    margin-bottom: 2px!important;
  }

  .hot-products{
    padding-top: 30px;
    .link-view-more{
      display: none!important;
    }
    .heading-right{
      .link-view-more{
        display: flex!important;
        text-indent: -999em;
        img{
          display: block;
        }
      }
    }
  }
  .ul-hot-products {
    padding-bottom: 0;
    .item-product {
      .title{
        height: auto;
      }
    }
  }
  .wrap-private-question{
    padding-left: 0;
    min-height: auto;
  }
  .drug-by-cate {
    padding: 30px 0 0;
  }
  .slider-drug-cate{
    padding-bottom: 40px;
  }
  .handle-pathology {
    padding: 30px 0 40px;
  }
  .be-good {
    padding: 40px 0;
  }
  .why-section {
    padding: 40px 0;
  }
  .heading-description{
    margin-bottom: 4px;
  }
  .drug-by-cate{
    .link-view-more{
      margin-bottom: 40px!important;
    }
  }
  .slider-product .heading-section{
    margin-bottom: 40px;
  }
}